{
    "site_name": "@site_name@",
    "site_slug": "@site_slug@",
    "local_domain": "@site_slug@.lndo.site",
    "dev_domain": "@site_slug@.cordelta.digital",
    "domain": "@site_slug@.lndo.site",
    "db_user": "butler",
    "db_pass": "butler",
    "db_host": "database",
    "db_name": "butler"
}