{
  "site_name": "@site_name@",
  "site_slug": "@site_slug@",
  "domains": {
    "primary": "@site_slug@.lndo.site",
    "lando": "@site_slug@.lndo.site",
    "dev": "@site_slug@.cordelta.digital"
  },
  "db_user": "butler",
  "db_pass": "butler",
  "db_host": "database",
  "db_name": "butler"
}
